footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    color: white;
   

}
.container{
display: flex;
justify-content: space-between;
width: 100%;
padding-right: 20vh ;
flex-wrap: wrap;
}




footer img{
    width:3.5rem;

    
   position: relative;
   top: 45px;
   left: 18px;
}
h4{
    font-weight: 900;
    font-size: 12px;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.08em;
    color: #919496;
    text-transform: uppercase;
}
.column ul li{

   font-weight: 400; 
   font-size:16px ;
   font-family: inter;
   line-height:1.5 ;
   max-width:500px;
   color: rgba(255, 255, 255, 1);
   padding: 5px;
}
.column ul li a:hover{
    padding-left: 10px;
}

@media(max-width:738px){
    .column ul li, h4{
        margin-left: 50px;
        
    }
    h4{
        margin-top: 20px;
    }
    .container{
        padding-right: 0;
    }
    footer{
        border-top: 50px solid  rgba(26, 20, 18, 1);
    }
   
    
    
}

