footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    color: white;
   

}
.container{
display: flex;
justify-content: space-between;
width: 100%;
padding-right: 20vh ;
flex-wrap: wrap;




}
footer img{
    width:3.5rem;

    
   position: relative;
   top: 45px;
   left: 20px;
}
h4{
    font-weight: 600;
    font-size: 25px;

    font-family: inter;
    line-height: 32.68px;
    letter-spacing: 5%;
    color: rgba(172, 172, 172, 1);
}
.column ul li{
   font-weight: 600; 
   font-size:18px ;
   font-family: inter;
   line-height:30.26px ;
   max-width:500px;
   color: rgba(255, 255, 255, 1);
   padding: 5px;
}
.column ul li a:hover{
    padding-left: 10px;
}

@media(max-width:738px){
    .column ul li, h4{
        margin-left: 50px;
        
    }
    h4{
        margin-top: 20px;
    }
    .container{
        padding-right: 0;
    }
   
    
    
}

