*{
    padding: 0;
    margin: 0;
   box-sizing: border-box; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   overflow-x: hidden;
   
}
header{
    background-color: black;
    width: 100%;
    z-index: 1;


}

.symbol1{
    position: absolute;
    margin-left:170px ;
    margin-top: -15px;
    font-size:7px;
}
header img{
    width: 3.5rem;
    position: absolute;
   top: 8px;
   left: 17px;
}
li{
    list-style: none;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;

}
.nav-link:hover{
    color:#169b45;
     
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 2rem;
    margin-left: 50px;
    padding: 0 24px;
}
.hamburger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
   
}
.hamburger{
    display: none;
     margin-right: 20px;

  
}
@media(max-width:700px) {
    body{
     overflow-x: hidden;
    }
    .nav-menu{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        right: 0px;
        z-index: 100;
        padding: 30px;
        
    }
    .nav-active{
        visibility: visible;
        position: absolute;
        left: 100%;
        height: 100% ;
        top: 9vh;
        background-color: black;
        display: flex;
        flex-direction:column ;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 700;
        font-size: 36px;
    font-family:  Helvetica, sans-serif;
    
        width: 70%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;

    }
   
    .hamburger{
        display: block;
        visibility: visible;
    
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 6px);
        transform: rotate(-45deg) translate(-4px, 4px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    
