

main{
    display: flex;
    flex-wrap: wrap;
    font-family:'Poppins';
    padding-top: 50px ;
    padding-bottom: 50px ;
    background-color: rgba(26, 20, 18, 1);
}
.placeholder{
    padding: 15px;
    border-radius: 7px;
    display: block;
    margin: 5px;
    font-weight:100;
    line-height: 14.32px;
    letter-spacing: 0.7px;
    font-size: 13px;
    box-shadow: none;
    font-family: 'Poppins';
}
input{
    border: 1px solid rgb(176, 174, 174);
}
.jado{
visibility: hidden; 
padding: 2vh 15vh 2vh 15vh;

}
p{
    font-size: 9.9px;
    margin: 15px;
    font-weight: 500;
    font-family: 'Poppins';
}
label{
    font-weight: 600;
    font-size: 17px;
    line-height: 16.71px;
    letter-spacing:  0.3px;    margin-top: 5px;
    margin-left: 7px;
    font-family: 'Poppins';
}


.login{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.form a{
    color:#25b85d;
    text-decoration: underline;
    font-family: 'Poppins';
}
main button{

    background-color: rgba(38, 215, 105, 1);
    border-radius: 40px;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 700;
    padding: 2.5vh 17vh 2.5vh 17vh;
    letter-spacing: 5%;
    position: relative;
    margin-left: 5%;
    border: rgba(38, 215, 105, 1);
    margin-top: 10px;
    
}
main button:hover{
    background-color: white;
    border: 1px solid black;
}
.form{
    border: 1
    px solid black;
    border-radius: 5px ;
    width: 497px;
    height: 584px;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: white;
    
}
.form-container{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: right;
    background-color: rgba(26, 20, 18, 1);
  

}
.spotifybg{
  min-width: 375px;
   display: flex;
   justify-content: center;
   flex-grow: 1;
   max-width: 732px;

   
}
/* for mobile   */
@media(max-width:732px){
    .disappear{
        display: none;
    }
    .form{
        background-color: rgba(26, 20, 18, 1); 
        border: none;
        position: relative;
       

    }
    .disappear{
        display: none;
    }
    main{
        height: 430px
    }
    .jado{
        visibility: visible;
        border:#3eee81;
    }

    
  /* for tablet    */
}
@media(max-width:1226px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .form{
        margin: 20px;
    }
    
}

/* for mobile  */
@media(max-width:448px){
    main button{
        margin-left: 5px;
        position: relative;
        top: 30px;
        padding: 2vh 10vh 2vh 10vh;
    }
    .form-container{
        display: none;
    }

    

