main{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px ;
    padding-bottom: 50px ;
    background-color: rgba(26, 20, 18, 1);
}
.placeholder{
    padding: 13px;
    border-radius: 7px;
    display: block;
    margin: 5px;
    font-weight: 500;
    line-height: 14.32px;
    letter-spacing: 5%;
    font-size: 12px;
}
.jado{
visibility: hidden; 
}
p{
    font-size: 10px;
    margin: 15px;
    font-weight: 500;
}
label{
    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;
    letter-spacing: 5%;

}

.login{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}
.form a{
    color:#1fc65f;
    text-decoration: underline;
}
main button{

    background-color: #26D769;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 2vh 12vh 2vh 12vh;
    letter-spacing: 5%;
    position: relative;
    margin-left: 15%;
    
}
main button:hover{
    background-color: white;
}
.form{
    border: 1px solid black;
    border-radius: 5px ;
    width: 497px;
    height: 584px;
    padding: 50px;
  
    
    background-color: white;
    
}
.form-container{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: right;
    background-color: rgba(26, 20, 18, 1);

}
.spotifybg{
  min-width: 375px;
   display: flex;
   justify-content: center;
   flex-grow: 1;
   max-width: 732px;

   
}
/* for mobile   */
@media(max-width:732px){
    .disappear{
        display: none;
    }
    .form{
        background-color: rgba(26, 20, 18, 1); 
        border: none;
        position: relative;
       

    }
    .disappear{
        display: none;
    }
    main{
        height: 430px
    }
    .jado{
        visibility: visible;
    }

    
  /* for tablet    */
}
@media(max-width:1226px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .form{
        margin: 20px;
    }
    
}

/* for mobile  */
@media(max-width:448px){
    main button{
        margin-left: 5px;
        position: relative;
        top: 30px;
        padding: 2vh 10vh 2vh 10vh;
    }
    .form-container{
        display: none;
    }

    

